#app
{
  min-height:100vh;
  background: #663399;
  display:flex;
  align-items:center;
  justify-content:center;
}

button
{
  padding: 8px 16px;
  border-radius: 4px;
}  
  
.modal
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: show .25s ease forwards;
  z-index: 2;
  background: rgb(211, 208, 208);
  padding: 1rem;
  min-height: 200px;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}  
  
.close
{
position:absolute;
top: 4px;
right: 4px;
font-size: 1.25rem;
font-weight: bold;
} 
@keyframes show{
  to{transform :translate(-50%, -50%) scale(1)};
}